---
# tasks file for tmpfs
- name: Mount
  ansible.posix.mount:
    path: "{{ item.mountpoint }}"
    src: tmpfs
    fstype: tmpfs
    state: mounted
    opts: "{{ item.options | join(',') }}"
    backup: true
  register: mounts
  notify:
    - Remount
  loop: "{{ tmpfs_fs }}"
  tags:
    - tmpfs
    - fstab
    - mount
