---
# handlers file for tmpfs
- name: Remount
  ansible.posix.mount:
    path: "{{ item }}"
    state: remounted
  loop:
    "{{ mounts.results | selectattr('changed', 'equalto', true) |
    map(attribute='item') | map(attribute='mountpoint') | list }}"
  tags:
    - tmpfs
    - remount
